bs4==0.0.1
ipykernel==4.8.2
ipython==6.4.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-templates==0.0.4
lxml==4.2.1
nbdime==1.0.1
notebook==5.6.0
numpy==1.14.5
pandas==0.23.3
plotly==3.0.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
requests==2.19.1
recordlinkage==0.11.2
sparqlkernel==1.1.0
SPARQLWrapper==1.8.2
SQLAlchemy==1.2.10
ujson==1.35
watermark==1.6.1
